body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url("img/Wallpaper_bg.jpg");
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
.hearts {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.heart {
    width: 25px;
    height: 25px;
    background: red;
    position: absolute;
    bottom: 0;
    animation: float 5s infinite ease-in-out;
    transform-origin: center bottom;
}

.heart::before, .heart::after {
    content: "";
    width: 25px;
    height: 25px;
    background: red;
    position: absolute;
    border-radius: 50%;
}

.heart::before {
    top: -12.5px;
    left: 0;
}

.heart::after {
    left: 12.5px;
    top: 0;
}

@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}